// components
@import "variables";
@import "components/choco-icons";
@import "components/back_button";

// pages
@import "./pages/main_page";
@import "./pages/home_page";
@import "./pages/statistic_page";
@import "./pages/account_page";


// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.slide-leave-active,
.slide-enter-active {
  transition: 0.2s;
  position: fixed;
}
.slide-enter {
  position: fixed;
  transform: translate(100%, 0);
}
.slide-leave-to {
  position: fixed;
  transform: translate(-100%, 0);
}

.font-weight-bold {
  font-weight: 700 !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-underline {
  text-decoration: underline;
}
.text-throughline {
  text-decoration: line-through;
}
@font-face {
  font-family: Lato;
  src: url('./fonts/lato.ttf');
}
@font-face {
  font-family: LatoLight;
  src: url('./fonts/Lato-Light.ttf');
}

// GLOBAL STYLES

// swiper style
.swiper-pagination-bullet-active {
  background: $brand_color;
}
.swiper-slide {
  a {
    text-decoration: none;
  }
}
.swiper-button-prev, .swiper-button-next {
  background-color: $brand_color;
  border-radius: 50%;
  opacity: 0.8;
  width: 28px !important;
  height: 28px !important;
  margin-top: 0 !important;
  transform: translateY(-50%) !important;
  background-size: 12px !important;
}

// Grid
.overflow-auto {
  overflow: auto;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

// Test

#StyleTesting {
  width: 100%;
  h4 {
    //font-family: Ubuntu;
    font-weight: 100;
  }
  .col-4 {
    background-color: #acacac;
    border: 1px solid black;
  }
  #CategoryProducts {
    width: 1180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}


// default
html, body, #app {
  background-color: $main_dark;
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 100;
  font-family: LatoLight;
  color: $default_color;
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
