.choco-icon{
  display: inline-block;
  position: relative;
  &_counter {
    position: absolute;
    color: $white_color;
    padding: 2px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    h4 {
      font-size: 12px;
    }
  }
  .top{
    top:-5px;
    right: -5px;
    background-color: $brand_darker;
  }
  .bottom {
    bottom: -2px;
    right: -8px;
    background-color: $choco_yellow;
  }
  &-svg-wrapper {
    position: relative;
  }
  &__svg {
    display: inline-block;
    svg{
      path{
        fill: currentcolor;
      }
    }
  }
  @media (min-width: 993px) {
    .category {
      svg {
        width: auto !important;
        path {
          transition: 0.4s;
        }
      }
    }
  }
}

